body            
{
    margin:auto;
    width:1024px;
    padding:10px;
    background-color:#ebebeb;
    font-size:14px;
    font-family: Sans-serif;
}

.container {
  
  background-color: rgb(142, 168, 168);
 

    width:auto;
    
    height: auto;
    display: grid;
    border-radius: .8em;

    box-shadow: 0 0 0 .4em rgb(31, 12, 53);
    outline: .6em solid rgb(85, 54, 143);
    grid-template-areas:
      'header header header header'
      'main main main side-bar'
      'footer footer footer footer';
      grid-template-rows: 60px 1fr 70px ;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .containermain {
   
    width: auto;
    height: auto;
    margin: 8px;
    display: grid;
    grid-template-areas:
      'mainheader mainheader mainheader mainheader'
      'subtext subtext subtext subtext'
      'art1 art1 art2 art2 '
      'art1 art1 art2 art2 '
      'art1 art1 art2 art2 ';
    
  }
  .containerloginform {
    background-color: rgb(142, 168, 168);
    
    margin: 8px;
      width: auto;
      height: auto;
      display: grid;
      border-radius: .8em;

      box-shadow: 0 0 0 .4em rgb(31, 12, 53);
      outline: .6em solid rgb(85, 54, 143);
      grid-template-areas:
        'header header header '
        '1 logintext 2 '
        '1 formlogin 2 '
        'footer footer footer ';
        grid-template-rows: 70px 35px 100px 70px ;
        grid-template-columns: 1fr 1fr 1fr ;
    
  }
  .logo{
    border: 2px solid rgb(3, 3, 3);
   
  }
  .side{
   
    margin: 8px;

  }
  .mainheader {
    

    margin: 8px;
    width: 20%;
    grid-area: mainheader;
    text-align: center;
  }
  .subtext {

    margin: 8px;
    grid-area: subtext;
    text-align: center;
  }
  .art1 {
    border-radius: .8em;

    box-shadow: 0 0 0 .2em rgb(31, 12, 53);
    outline: .2em solid rgb(85, 54, 143);
    margin: 8px;
    grid-area: art1;
    text-align: center;
   
  }
  .art2 {
    border-radius: .8em;

    box-shadow: 0 0 0 .2em rgb(31, 12, 53);
    outline: .2em solid rgb(85, 54, 143);
    margin: 8px;
    grid-area: art2;
    text-align: center;
  }

  .login{
    border-radius: .8em;

    box-shadow: 0 0 0 .4em rgb(31, 12, 53);
    outline: .6em solid rgb(85, 54, 143);
    
  }
  .menu {
    width: 50%;
    display: grid;
    grid-template-areas:
      '1 2 3'
  }
  .header {
    border-radius: .8em;

    box-shadow: 0 0 0 .4em rgb(31, 12, 53);
    outline: .6em solid rgb(85, 54, 143);
    background: #0074D9;
    overflow: hidden;
    grid-area: header;
   

  }
 
  .main-content {
    
    margin: 8px;
    grid-area: main;
  }
  .side-bar {

    grid-area: side-bar;
  }
  .footer {
    
    border-radius: .8em;

    box-shadow: 0 0 0 .4em rgb(31, 12, 53);
    outline: .6em solid rgb(85, 54, 143);
    grid-area: footer;
    text-align: center;
  }
  .left-wrapper,
.right-wrapper {
  display: inline-block;
}

.right-wrapper {
  display: inline-block;
}
.aside {
  border-radius: .8em;

  box-shadow: 0 0 0 .4em rgb(31, 12, 53);
  outline: .2em solid rgb(85, 54, 143);
  
  margin-top: 18px;
  margin-left: 5;
  margin-right: 8px;
  margin-bottom: 25px;
}
.offset-1 {
  margin-right: calc(25% + 5px);
}
.shift{
  border: 2px solid rgb(3, 3, 3);
  margin: 8px;
  height: auto;
  width: 100%;
}
.formlogin {
  border: 2px solid rgb(3, 3, 3);
  border-radius: .4em;
  padding: 2px 4px;
  grid-area:formlogin;
  display: grid;
     margin-bottom: auto;
     margin-top: auto;
  grid-template-areas:
    'L_u_t L_u_i '
    'L_p_t L_p_i '
    'L_b_s L_b_r ';


  align-items: center;
}
.L_u_t{
  grid-area: L_u_t;
}
.L_u_i{
  grid-area: L_u_i;
}
.L_p_t{
  grid-area: L_p_t;
}
.L_p_i{
  grid-area: L_p_i;
}
.L_b_s{
  grid-area: L_b_s;
}
.L_b_r{
  grid-area: L_b_r;
}
.logintext{
  text-transform: uppercase;
  grid-area: logintext;
}

     
     
#top-header{
         
  text-align: center;
  height: 60px;
 
}
#logo{
  float: left;
  padding: none;
  margin: none;
  height: 60px;
  width: 30%;
}

#logo img{
  width: 30%;
  float: left;
  padding: 5px 0px;
}
#menu{
  float: left;

}
   
#menu ul{
  text-align: center;
  float: right;
  margin: none;
  background: #0074D9;
}
   
#menu li{
  display: inline-block;
  padding: none;
  margin: none;
}
   
#menu li a, #menu li span{
  display: inline-block;
  padding: 0em 1.5em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
 
}
   
#menu li a{
       
  color: #FFF;
}
   
#menu li:hover a, #menu li span{
  background: #FFF;
  color: #0074D9;
  border-left: 1px solid #0074D9;
  text-decoration: none;
}
#menulog{
  float: right;

}
#menulog ul{
  text-align: center;
  float: right;
  margin: none;
  background: #0074D9;
}
   
#menulog li{
  display: inline-block;
  padding: none;
  margin: none;
}
   
#menulog li a, #menulog li span{
  display: inline-block;
  padding: 0em 1.5em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
 
}
   
#menulog li a{
       
  color: #FFF;
}
   
#menulog li:hover a, #menulog li span{
  background: #FFF;
  color: #0074D9;
  border-left: 1px solid #0074D9;
  text-decoration: none;
}
.buttonlogin {
  background: blue;
  border-radius: .4em;
  color: white;
 margin-top: 5px;
}
.buttonreset {
  background: red;
  border-radius: .4em;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
}
